body{
  background-color: #F5F9F9;
  /* background-size: cover; */
}

.login{
  width:100vw;
  height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
}

a {
text-decoration: none;
}

.header__wrapper header {
width: 100%;
background: url("assets/pages//img/bg.jpeg") no-repeat 50% 20% / cover;
min-height: calc(100px + 15vw);
}

.header__wrapper .cols__container .left__col {
padding: 25px 20px;
text-align: center;
max-width: 350px;
position: relative;
margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
position: absolute;
top: -60px;
left: 50%;
transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
width: 120px;
height: 120px;
object-fit: cover;
border-radius: 50%;
display: block;
box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
border:#cccccc solid 4px;
}
.header__wrapper .cols__container .left__col .img__container span {
position: absolute;
background: #2afa6a;
width: 16px;
height: 16px;
border-radius: 50%;
bottom: 3px;
right: 11px;
border: 2px solid #fff;
}
.header__wrapper .cols__container .left__col h2 {
margin-top: 60px;
font-weight: 600;
font-size: 22px;
margin-bottom: 5px;
}
.header__wrapper .cols__container .left__col p {
font-size: 0.9rem;
color: #818181;
margin: 0;
}
.header__wrapper .cols__container .left__col .about {
justify-content: space-between;
position: relative;
margin: 35px 0;
}
.header__wrapper .cols__container .left__col .about li {
display: flex;
flex-direction: column;
color: #818181;
font-size: 0.9rem;
margin-right: 10px;
margin-top: -15px;
}
.header__wrapper .cols__container .left__col .about li span {
color: #1d1d1d;
font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
position: absolute;
content: "";
bottom: -16px;
display: block;
background: #cccccc;
height: 1px;
width: 100%;
}
.header__wrapper .cols__container .content p {
font-size: 1rem;
color: #1d1d1d;
line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
gap: 30px;
justify-content: center;
align-items: center;
margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
display: flex;
}
.header__wrapper .cols__container .content ul i {
font-size: 1.3rem;
}
.header__wrapper .cols__container .right__col nav {
display: flex;
align-items: center;
padding: 30px 0;
justify-content: space-between;
flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul {
display: flex;
gap: 20px;
flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
color: #1d1d1d;
font-weight: 600;
}

.header__wrapper .cols__container .right__col nav button {
background: #0091ff;
color: #fff;
border: none;
padding: 10px 18px;
border-radius: 4px;
cursor: pointer;
margin-top: 20px;
}


.header__wrapper .cols__container .right__col nav button:hover {
opacity: 0.8;
}
.header__wrapper .cols__container .right__col .photos {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
gap: 20px;
}
.header__wrapper .cols__container .right__col .photos img {
width: 150px;
max-width: 100%;
display: block;
height: 150px;
height: 100%;
object-fit: cover;
}

/* Responsiveness */

@media (min-width: 868px) {
.header__wrapper .cols__container {
max-width: 1200px;
margin: 0 auto;
width: 90%;
justify-content: space-between;
display: grid;
grid-template-columns: 1fr 2fr;
gap: 50px;
}
.header__wrapper .cols__container .left__col {
padding: 25px 0px;
}
.header__wrapper .cols__container .right__col nav ul {
flex-direction: row;
gap: 30px;
}
.header__wrapper .cols__container .right__col .photos {
height: 365px;
overflow: auto;
padding: 0 0 30px;
}
.header__wrapper .cols__container .right__col .photos video {
max-width: 100%;
display: block;
height: 100%;
object-fit: cover;
}

}


@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}
#boot-icon{
  font-size: 25px;
   color: rgb(0, 0, 0);
    position:relative;
     top: -5.5px;
}
#select_post_img{
  width: 0;
  height: 0;
  z-index: -10;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.formm .bi-eye-fill.active::before{
  color:#333;
  content: "\f070";
  
}

.navbar{
position:sticky;
  position:-webkit-sticky;
  top:0px; z-index: 10;
}

@media (min-width: 1017px) {
.header__wrapper .cols__container .left__col {
margin: 0;
margin-right: auto;
}
.header__wrapper .cols__container .right__col nav {
flex-direction: row;
}
.header__wrapper .cols__container .right__col nav button {
margin-top: 0;
}
.navbar{
  position:fixed;
    position:-webkit-fixed;
    top:0px; z-index: 10;
  }
}


@media screen and (max-width: 994px) {
  .navbar{
    position:fixed;
      position:-webkit-fixed;
      top:0px; z-index: 10;
    }
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 0 0 0 0;
    transition: .4s;
    z-index: 10;
    font-size: 1.3rem;
  }
  #boot-icon{
    font-size: 23px;
     color: rgb(0, 0, 0);
     position:relative;
     top: 2px;
  }
 .btn-1{
  position:relative; 
  left:110px; 
  top:8px;
 }
/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}
.the_side_name{
  display:none !important;
}
#addposttt{
  display:none !important;
}
}
@media screen and (min-width: 1261px){
  #suggest{
    display: none !important;
  }
  #reels{
    display: none !important;
  }
  #home{
    display:none !important;
  }
  #addpostt{
    display:none !important;
  }
  #notification{
    display:none !important;
  }
  #message_side{
    display:none !important;
  }
  #navbarDropdown{
    display:none !important;
  }
  #market{
    display:none !important;
  }
}

@media screen and (max-width: 1260px) {

  .sug{
      display:none !important;
  }
  .userr{
      display:none !important;
  }

}
